# Postgres configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=kuwenta

# Database URL for PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kuwenta"

# Better Auth configuration
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=
